@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$gallery-picture-description-width: 60% !default;

.picture {
  margin: ($spacer * 0.5) 0;
  text-align: center;

  .description {
    width: $gallery-picture-description-width;
    margin: ($spacer * 0.5) auto;
  }
}
